- var linkItems = ['facebook', 'twitter', 'google-plus', 'linkedin']
- var linkUrls = ['facebook.com', 'twitter.com', 'google.com', 'dostup-linkedin.com']
footer.footer
  .footer__top
    .container
      .footer__title Git in touch
      .footer__links
        each item, key in linkItems
          a.footer__social(href="https://" + linkUrls[key] target="_blank")
            i(class="fa fa-" + item aria-hidden="true")
              span.visually-hidden=linkItems[key]
      .footer__text Subscribe to our newsletter to stay update with what is new
      form(action="#" method="post")
        .footer__field: input.footer__input(type="email" placeholder="Email Address")
        button(type="submit").button Subscribe

  .footer__bottom
    .container
      .footer__copy Cssauthor.com © 2014 All Rights Reserved
