section.form__section
  .container
    .title
      h2.title__header Get Your Free Facebook Analysis Now
      .title__text Enter your details below

    .btn__down: a.arrow__down(href="#"): i.fa.fa-angle-down.arrow-angle-down

    .form__container.is-hidden
      form(method="post" action="#").form 
        button(type="button").form__close--button &#10006;
        .form__text.
          Sit down with our experts to receive a free customized marketing plan for your business + Learn How To Use Google and Facebook to get 5000% ROI or more          
        
        .form__fields 
          input.form__input(type="text" placeholder="Your Name")
          input.form__input(type="text" placeholder="Contact Number")
          input.form__input(type="text" placeholder="Contact Name")

        button.button.button__text--uppercase.button--red(type="submit" value="Submit now") Submit now          
        