$colorShodow: #d6d6d6;

.approch {
  padding: 120px 0;
  background-color: $bgBlock;

  &__list {
    counter-reset: count;
  }

  &__item {
    display: flex;
    margin-bottom: 40px;
    border-radius: 5px;
    box-shadow: -1px -1px 10px 1px $colorShodow;
    background: $white;

    &:last-child {
      margin-bottom: 0;
    }

    &:nth-child(2n) {
      flex-direction: row-reverse;
      text-align: right;

      .approch__text {
        padding: 70px 90px 70px 70px;
      }

      .approch__step {
        right: auto;
        left: -51px;
      }

    }

  }

  &__image {
    position: relative;
    max-width: 340px;
    max-height: 236px;
  }

  &__step {
    @include centerer-y();

    right: -51px;
    width: 103px;
    height: 103px;
    padding-top: 10px;
    border-radius: 5px;
    border: 2px solid $white;
    text-align: center;
    font-size: 1.25rem;
    background-color: $second;
    color: $white;

    &:before {  
      content: counter(count);
      counter-increment: count;
      display: block;
      font-family: $ff-steps;
      font-size: 3rem;
      line-height: 1;
      color: $white;
    }
  }

  &__text {
    display: inline-block;
    vertical-align: top;
    width: 64%;
    padding: 70px 70px 70px 90px;
    font-size: 0.875rem;
  }

  &__title {
    margin-bottom: 10px;
    font-size: 1.125rem;
    font-family: $ff-main-bold;
  }

  &__description {
    line-height: 1.5;
  }

}