$bgFacebook: #1287bf;
$borderColor: #e2e2e2;

.header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;

  &__top {
    width: 100%;
    height: auto; 
    background-color: $bgBlock;
  }

  &__bottom {
    background-color: $white;
    border-bottom: 2px solid $bgBlock;
  }

}

.content__top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 44px; 
}
.contacts {
  display: flex;
  align-items: center;
}
.contact {
  display: flex;
  align-items: center;
  color: $colorText;
  transition: 0.5s;

  &:hover {
    color: lighten($colorText, 20%);
  }
  
  &:first-child {
    padding-right: 18px;
    border-right: 1px solid $borderColor;
  }

  &__icon {
    margin-left: 18px;
    font-size: 1.5rem;
  }

  &__icon--email {
    font-size: 1.3rem;
  }

  &__text {
    margin-left: 10px;
  }
}
.facebook-icon {
  margin-left: 14px;
  padding: 4px 8px;
  border-radius: 3px;
  background-color: $bgFacebook;
  color: $white;
  transition: 0.5s;

  &:hover {
    background-color: darken($bgFacebook, 15%);
  }

}
.content__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 41px 0;
}

.logo__link {
  cursor: pointer;
}

.header__button {
  font-family: $ff-main-bold;
}
