.nav {
  display: inline-block;
  vertical-align: top;
  margin-right: 30px;
  margin-left: auto;

  &__link {
    display: inline-block;
    vertical-align: top;
    padding: 6px;
    font-family: $ff-main-bold;
    color: $colorText;
    text-transform: capitalize;
    transition: all 0.5s;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 12px;
      left: -15px;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $colorText;
      cursor: initial;
    }

    &:first-child:before {
      display: none;
    }

    &:after {
      content: '';
      position: absolute;
      opacity: 0;
      left: 0;
      bottom: 13px;
      height: 2px;
      width: 0;
      background-color: $second;
      transition: all 0.5s;
    }

    &:hover,
    &--active {
      color: $second;

      &:after {
        opacity: 1;
        width: 100%;
      }
      
    }

    &:not(:last-child) {
      margin-right: 24px;
    }
  }
}